@model HospitalProject_Group3.Models.ViewModels.DetailsMedication
@{
    ViewBag.Title = "Details";
}

<h2>Medication's Details</h2>

<div>
    <a class="navlink" href="/Medication/List">Back To Medications' List</a>
</div>
<div>
    <a style="color: #ec3838;" href="/Medication/DeleteConfirm/@Model.SelectedMedication.MedicationID">Delete This Medication</a>
</div>
<div>
    <a style="color: #8338ec;" href="/Medication/Edit/@Model.SelectedMedication.MedicationID">Update This Medication</a>
</div>

<br/>

<div id="containershow">
    <h2 style="color: #0a9396 ">@Model.SelectedMedication.MedicationBrand -  @Model.SelectedMedication.MedicationName</h2>
  
    <div><label>Detail:</label> @Html.Raw(@Model.SelectedMedication.MedicationDetail)</div>
    <div><label>Price:</label> @Model.SelectedMedication.Price</div>
</div>
