@model HospitalProject_Group3.Models.ViewModels.UpdateMedication
@{
    ViewBag.Title = "Edit";
}

<h2>Update Medication</h2>

<form action="/Medication/Update/@Model.SelectedMedication.MedicationID" method="POST" onsubmit="return validateMedication();">
    <div style="display:none;">
        @* Pass through the Shift ID *@
        <input type="text" name="MedicationID" id="MedicationBrand" value="@Model.SelectedMedication.MedicationID" />
    </div>
    <div>
        <label>Medication Brand:</label> <input type="text" id="MedicationName" name="MedicationBrand" value="@Model.SelectedMedication.MedicationBrand" />
    </div>
    <div>
        <label>Medication Name:</label> <input type="text" name="MedicationName" value="@Model.SelectedMedication.MedicationName" />
    </div>
    <div>
        <label>Detail:</label>
    </div>
    <div>
        <textarea id="MedicationDetail" name="MedicationDetail" rows="5" cols="30" maxlength="500">@Model.SelectedMedication.MedicationDetail</textarea>
    </div>
    <div>
        <label>Medicaiton Price:</label> <input type="text" id="Price" name="Price" value="@Model.SelectedMedication.Price" />
    </div>
    <div>
        <input type="submit" value="Update Medication" />

    </div>
</form>

<script type="text/javascript">
    //variable from HTML element
    var MedicationBrand = document.getElementById('MedicationBrand');
    var MedicationName = document.getElementById('MedicationName');
    var MedicationDetail = document.getElementById('MedicationDetail');
    var Price = document.getElementById('Price');

    var errorbox = document.getElementById("ErrorBox");

    function validateMedication() {
        //check if MedicationBrand is ""
        if (MedicationBrand.value === "") {
            errorbox.style.display = 'block';
            errorbox.innerHTML += "Medication Brand must be filled<br>";
            return false;
        } else {
            errorbox.style.display = 'none';
            errorbox.innerHTML = "";
        }
        //check if MedicationName is ""
        if (MedicationName.value === "") {
            errorbox.style.display = 'block';
            errorbox.innerHTML += "Medication Name must be filled<br>";
            return false;
        } else {
            errorbox.style.display = 'none';
            errorbox.innerHTML = "";
        }
        //check if MedicationDetail is ""
        if (MedicationDetail.value === "") {
            errorbox.style.display = 'block';
            errorbox.innerHTML += "Medication Detail must be filled<br>";
            return false;
        } else {
            errorbox.style.display = 'none';
            errorbox.innerHTML = "";
        }
        //check if Price is ""
        if (Price.value === "") {
            errorbox.style.display = 'block';
            errorbox.innerHTML += "Price must be filled<br>";
            return false;
        } else {
            errorbox.style.display = 'none';
            errorbox.innerHTML = "";
        }
        if (MedicationBrand.value != "" && MedicationName.value != "" && MedicationDetail.value != "" && Price.value != "") {
        }
    }
</script>