
@model HospitalProject_Group3.Models.DonorTransplantDto


@{
    ViewBag.Title = "View";
}



<h2>Shift's Details</h2>

<a href="/DonorTransplants/List">Go back to list</a>

<div>
    <a class="navlink" href="//List">Back To DonorTransplant' List</a>
</div>


</div>



<h2>@Model.PatientID</h2>
<p>@Model.PatientFName</p>
<p>@Model.PatientLName</p>
<p>@Model.OrganType</p>
<div> @Model.SurgeryPlan</div>


