@model HospitalProject_Group3.Models.ViewModels.UpdateRole
@{
    ViewBag.Title = "Edit";
}

<h2>Update Role</h2>
<form action="/Role/Update/@Model.SelectedRole.RoleID" method="POST" enctype="multipart/form-data" onsubmit="return validateRole();>
    <div style="display:none;">
        @* Pass through the Role ID *@
        <input style="display:none;" type="text" name="RoleID" value="@Model.SelectedRole.RoleID" />
    </div>
    <div>
        <label>RoleType:</label> <input type="text" name="RoleType" id="RoleType" value="@Model.SelectedRole.RoleType" />
    </div>

    <div>
        <label>Department Name:</label>
        @*<input type="text" name="DepartmentID" value="@Model.SelectedRole.DepartmentID" />*@
        <select name="DepartmentID">
            @foreach (var department in Model.DepartmentOptions)
            {
                string selected = "";
                if (department.DepartmentID == Model.SelectedRole.DepartmentID)
                {
                    selected = "selected";
                }
                <option value="@department.DepartmentID" @selected>@department.DepartmentName</option>

            }
        </select>
    </div>

    <div>
        <input type="submit" value="Update Role" />

    </div>
</form>
<div style="margin-top:50px;">
    <a class="navlink" href="/Role/Details/@Model.SelectedRole.RoleID">Back to The Role's Detail</a>
</div>

<script type="text/javascript">
    //variable from HTML element
    var RoleType = document.getElementById('RoleType');

    var errorbox = document.getElementById("ErrorBox");

    function validateRole() {
        //check if Role is ""
        if (RoleType.value === "") {
            errorbox.style.display = 'block';
            errorbox.innerHTML += "Role Type must be filled<br>";
            return false;
        } else {
            errorbox.style.display = 'none';
            errorbox.innerHTML = "";
        }


        if (Role.value != "") {
        }
    }
</script>